* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #090909;
}

#nav {
  height: 60px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 50px;
}

#nav h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main h1 {
  font-size: 15vw;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 12vmax;
  width: 80%;
  position: relative;
  z-index: 90;
  margin-left: 10%;
}

#main h1:nth-child(2) {
  margin-top: 8rem;
}

#main h1:nth-child(3) {
  text-align: center;
}

#main h1:nth-child(4) {
    text-align: center;
    padding-left: 7%;
}

img{
  height: 70vmin;
  position: absolute;
  top: 12%;
  left: 40%;
  overflow: hidden;
}

#img1{
  rotate: 20deg;
}

#img2{
  rotate:10deg;
}

#img3{
  rotate: 0deg;
}


@media screen and (max-width:650px) {
  #nav h3  {
    display : none;
  }
}